<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="navbar">

<nav class="navbar navbar-expand-lg navbar-dark"
     style="background-color: #039BE5">

    <div class="container">

        <a class="navbar-brand" th:href="@{/}">Mycart</a>

        <button class="navbar-toggler" type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- LEFT MENU -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">
                        Home <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       id="navbarDropdown"
                       role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Categories
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>

            <!-- RIGHT MENU : USER NOT LOGGED IN -->
            <ul class="navbar-nav ml-auto"
                th:if="${session.current_user == null}">

                <li class="nav-item active">
                    <a class="nav-link" href="#!">
                        <i class="fa fa-shopping-cart"
                           data-toggle="modal"
                           data-target="#cart"></i>
                        <span class="ml-0 cart-items">()</span>
                    </a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/register}">Register</a>
                </li>
            </ul>

            <!-- RIGHT MENU : USER LOGGED IN -->
            <ul class="navbar-nav ml-auto"
                th:if="${session.current_user != null}">

                <li class="nav-item active">
                    <a class="nav-link"
                       th:text="${session.current_user.userName}">
                        Username
                    </a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/logout}">
                        Logout
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>

</body>
</html>
