<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Admin page</title>

    <!-- common css/js -->
    <th:block th:replace="components/common_css_js :: common-css-js"></th:block>
</head>

<body>

<!-- navbar -->
<th:block th:replace="components/navbar :: navbar"></th:block>

<div class="container admin">

    <div class="container-fluid mt-3">
        <th:block th:replace="components/message :: message"></th:block>
    </div>

    <!-- FIRST ROW -->
    <div class="row mt-3">

        <!-- USERS -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <img class="rounded-circle img-fluid"
                         style="max-width:125px"
                         src="/img/user.png" alt="user_pic">
                    <h1 th:text="${totalUsers}">0</h1>
                    <h1>Users</h1>
                </div>
            </div>
        </div>

        <!-- CATEGORIES -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <img class="rounded-circle img-fluid"
                         style="max-width:125px"
                         src="/img/menu.png" alt="categories">
                    <h1 th:text="${totalCategories}">0</h1>
                    <h1>Categories</h1>
                </div>
            </div>
        </div>

        <!-- PRODUCTS -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <img class="rounded-circle img-fluid"
                         style="max-width:125px"
                         src="/img/product.png" alt="product">
                    <h1 th:text="${totalProducts}">0</h1>
                    <h1>Products</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- SECOND ROW -->
    <div class="row mt-3">
        <div class="col-md-6">
            <div class="card" data-toggle="modal" data-target="#add-categories">
                <div class="card-body text-center">
                    <img class="rounded-circle img-fluid"
                         style="max-width:125px"
                         src="/img/calculator.png">
                    <h1>Add Categories</h1>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card" data-toggle="modal" data-target="#Add-Product">
                <div class="card-body text-center">
                    <img class="rounded-circle img-fluid"
                         style="max-width:125px"
                         src="/img/add.png">
                    <h1>Add Product</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ADD CATEGORY MODAL -->
<div class="modal fade" id="add-categories" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form th:action="@{/product/operation}" method="post">
                <input type="hidden" name="operation" value="addCategory">

                <div class="modal-body">
                    <input class="form-control" name="catTitle" placeholder="Enter category title" required>
                    <textarea class="form-control mt-3"
                              name="catDescription"
                              placeholder="Enter description"
                              required></textarea>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary">Submit</button>
                    <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- ADD PRODUCT MODAL -->
<div class="modal fade" id="Add-Product" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <form th:action="@{/product/operation}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="operation" value="addProduct">

                <div class="modal-body">

                    <input class="form-control" name="pName" placeholder="Product Title" required>
                    <textarea class="form-control mt-2" name="pDescription" required></textarea>
                    <input class="form-control mt-2" name="pPrice" type="number" required>
                    <input class="form-control mt-2" name="pDiscount" type="number" required>
                    <input class="form-control mt-2" name="pQuantity" type="number" required>

                    <select class="form-control mt-2" name="CID">
                        <option th:each="cat : ${categories}"
                                th:value="${cat.categoryId}"
                                th:text="${cat.categoryTitle}">
                        </option>
                    </select>

                    <input class="mt-2" type="file" name="pPic" required>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary">Submit</button>
                    <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </form>
        </div>
    </div>
</div>

</body>
</html>
