<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>

    <!-- common css/js -->
    <th:block th:replace="components/common_css_js :: common-css-js"></th:block>

    <!-- navbar -->
    <th:block th:replace="components/navbar :: navbar"></th:block>
</head>

<body>
<div class="row mt-3">
    <div class="col-md-4 offset-md-4">
        <div class="card px-5">
            <div class="card-body">

                <form th:action="@{/register}" method="post">

                    <!-- message -->
                    <th:block th:replace="components/message :: message"></th:block>

                    <h3 class="text-center mt-0">Registration Form</h3>

                    <div class="form-group">
                        <label>User Name</label>
                        <input type="text"
                               class="form-control"
                               name="userName"
                               placeholder="Enter UserName"
                               required>
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <input type="password"
                               class="form-control"
                               name="userPassword"
                               placeholder="Enter Password"
                               required>
                    </div>

                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text"
                               class="form-control"
                               name="userPhone"
                               placeholder="Please 10 digit number"
                               maxlength="10">
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input type="email"
                               class="form-control"
                               name="userEmail"
                               placeholder="Enter UserEmail"
                               required>
                    </div>

                    <div class="form-group">
                        <label>Address</label>
                        <textarea class="form-control"
                                  name="userAddress"
                                  placeholder="Enter address"
                                  style="height:100px"></textarea>
                    </div>

                    <div>
                        <a th:href="@{/login}">
                            if already registered! click here
                        </a>
                        <br><br>

                        <button type="submit" class="btn btn-primary mb-2">
                            Register
                        </button>
                        <button type="reset" class="btn btn-primary mb-2">
                            Reset
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>
